@model ShowApplication.Models.ViewModels.updateshow
@{
    ViewBag.Title = "Edit";
}
<h2>Update Show</h2>
<form action="/Show/Update/@Model.SelectedShow.showID" method="POST">
    <div style="display:none;">
        <input type="text" name="showID" value="@Model.SelectedShow.showID" />
    </div>
    <div>
        <label>ArtistID:</label> <input type="number" name="artistID" value="@Model.SelectedShow.artistID" />
    </div>
    <div>
        <label>VenueID:</label> <input type="number" name="venueID" value="@Model.SelectedShow.venueID" />
    </div>
    <div>
        <label>Show Date and Time:</label> <input type="datetime" name="DateAndTime" value="@Model.SelectedShow.DateAndTime" />
    </div>
    <div>
        <input type="submit" value="Update Show" />

    </div>
</form>