@model IEnumerable<ShowApplication.Models.ShowDto>
@{
    ViewBag.Title = "List";
}

<style>
    body {
        background-color: #2F2F38;
        color: #D7D8EF;
    }
</style>

<h2>List</h2>
<a href="/Show/New">New Show</a>
@foreach (var show in Model)
{
    <h2><a href="/Show/Details/@show.showID">@show.showID</a></h2>
    <div>ArtistID: @show.artistID</div>
    <div>VenueID: @show.venueID</div>
    <div>Show Date and Time: @show.DateAndTime</div>
}

