@model IEnumerable<ShowApplication.Models.ShowDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Show/New">New Show</a>
@foreach (var show in Model)
{
    <h2><a href="/Show/Details/@show.showID">@show.showID</a></h2>
    <div>ArtistID: @show.artistID</div>
    <div>VenueID: @show.venueID</div>
    <div>Show Date and Time: @show.DateAndTime</div>

}

