@model IEnumerable<ShowApplication.Models.ArtistDto>

@{
    ViewBag.Title = "Create";
}

<style>
    body {
        background-color: #2F2F38;
        color: #D7D8EF;
    }
</style>

<h2>Create Show</h2>
<form action="/Show/Create" method="POST">
    <div>
        <label>Artist:</label><input type="number" name="artistID" />
    </div>
    <div>
        <label>Venue:</label><input type="number" name="venueID" />
    </div>
    <div>
        <label>Date and Time:</label><input type="datetime" name="DateAndTime" />
    </div>
    <div>
        <input type="submit" value="Add Show" />
    </div>

</form>