@model IEnumerable<ShowApplication.Models.ArtistDto>
@{
    ViewBag.Title = "List";
}

<style>
    body {
        background-color: #2F2F38;
        color: #D7D8EF;
    }
</style>

<h2>List</h2>
<a href="/Artist/New">New Artist</a>
@foreach (var artist in Model)
{
    <h2><a href="/Artist/Details/@artist.ArtistlID">@artist.Fname, @artist.Lname</a></h2>

}

