@model IEnumerable<ShowApplication.Models.ArtistDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Show</h2>
<form action="/Artist/Create" method="POST">
    <div>
        <label>First Name:</label> <input type="text" name="Fname" />
    </div>
    <div>
        <label>Last Name:</label> <input type="text" name="Lname" />
    </div>
    <div>
        <input type="submit" value="Add Artist" />
    </div>

</form>

