@model ShowApplication.Models.ViewModels.DetailsVenue
@{
    ViewBag.Title = "View";
}

<style>
    body {
        background-color: #2F2F38;
        color: #D7D8EF;
    }
</style>

<a href="/Venue/List">Go back to list</a>
<br />
<a href="/Venue/Edit/@Model.venueID">Update</a>
<br />
<a href="/Venue/DeleteConfirm/@Model.venueID">Delete</a>