@model ShowApplication.Models.ViewModels.DetailsVenue
@{
    ViewBag.Title = "View";
}

<a href="/Venue/List">Go back to list</a>
<br />
<a href="/Venue/Edit/@Model.venueID">Update</a>
<br />
<a href="/Venue/DeleteConfirm/@Model.venueID">Delete</a>




