@model IEnumerable<ShowApplication.Models.VenueDto>

@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-color: #2F2F38;
        color: #D7D8EF;
    }
</style>

<h2>Create Venue</h2>
<form action="/Venue/Create" method="POST">
    <div>
        <label>Venue Name:</label> <input type="text" name="venueName" />
    </div>
    <div>
        <label>City:</label> <input type="text" name="City" />
    </div>
    <div>
        <label>Provence or State:</label> <input type="text" name="ProvenceState" />
    </div>
    <div>
        <input type="submit" value="Add Venue" />
    </div>

</form>

